<!DOCTYPE html>
<html>
    <head>
        <title>This is Weather</title>
        <link rel="icon" href="iStock.jpg" >
        <link rel="stylesheet" href="./css/style.css"/>
    </head>
    <body>
        {{>header}}
        <h1>{{errorMsg}}</h1>
          <img rel="icon" src="download.png"/>
        {{>footer}}
    </body>
</html>